<!DOCTYPE html>
<html>
<head>
  <title>Edit Customer</title>
</head>
<body>
  <h1>Edit Customer #{{ customer[0] }}</h1>
  <form method="post">
    <label>First Name:</label><br>
    <input type="text" name="first_name" value="{{ customer[1] }}" required><br><br>

    <label>Last Name:</label><br>
    <input type="text" name="last_name" value="{{ customer[2] }}" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ customer[3] }}" required><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" value="{{ customer[4] }}" required><br><br>

    <button type="submit">Update</button>
  </form>
</body>
</html>
