version: '3.9'

services:
  web:
    build: ./app
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
    environment:
      FLASK_ENV: development
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bytebox
      DATABASE_URL: postgresql://postgres:postgres@db:5432/bytebox
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bytebox
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./create.sql:/docker-entrypoint-initdb.d/01-create.sql
      - ./load.sql:/docker-entrypoint-initdb.d/02-load.sql

volumes:
  pgdata:
