version: '3.9'

services:
  web:
    build: ./app
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/bytebox
    depends_on:
      - db
    command: >
      sh -c "python app/bootstrap_db.py && python app/app.py"

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bytebox
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
